video {
    border: 1px solid lightgrey;
}

#configsip {
  width: 60%;
  float: left;
}

#logsip {
  width: 40%;
  float: right;
}

#logsipfield {
  height:540px;
}

#log {
  width: 480px;
  height: 500px;
  overflow: scroll;
}
